<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">

</head>
<body>
  <header>
    a food form
  </header>
  
    <h1>enter a food</h1>
    
    <p>your last guess, if any:</p>
    <p><%=  %></p>
    
    <div class="food_form">
      <form method="POST" action="/food">
        
        <p>your name: <input type="text" name="name"/></p>
        <p>your favorite food: <input type="text" name="favorite_food"/></p>
        <input type="submit" />

      </form>

    </div>

    
    <br>
    <footer style="font-size:small;">
      <ul style="">
        <li>Built with ❤ by <a href="https://twitter.com/josh_works">Josh Thompson</a></li>
        <li>A Sinatra learning Project from <a href="https://intermediateruby.com/sinatra-basics">Intermediate Ruby</a></li>
        <li>A few today-i-learned entries for this project: <a href="https://github.com/josh-works/til/tree/main/sinatra">til/sinatra</a></li>
      </ul>
    </footer>
</body>
</html>