<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">

</head>
<body>
  <header>
    
  </header>
    <h1>exploring cookies</h1>
    <h2>you've visited/refreshed this page about this many times:</h2>  
      <pre>
        <%= visit_count %>
      </pre>
      
      (for a )
      
      <a href="/food">click here to visit /food</a>
    <br>
    <footer style="font-size:small;">
      <ul style="">
        <li>Built with ❤ by <a href="https://twitter.com/josh_works">Josh Thompson</a></li>
        <li>A Sinatra learning Project from <a href="https://intermediateruby.com/sinatra-basics">Intermediate Ruby</a></li>
        <li>Github repo full of very detailed instructions: <a href="https://github.com/josh-works/sinatra-sticks-and-stones/tree/main">github.com/josh-works/sinatra-sticks-and-stones</a> </li>
      </ul>
    </footer>
</body>
</html>